/* 
font-family: 'Julius Sans One', sans-serif; --heading
font-family: 'Rubik Mono One', sans-serif; --title
font-family: 'Space Grotesk', sans-serif;
font-family: 'Ubuntu', sans-serif; --normal font
*/

@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Rubik+Mono+One&family=Space+Grotesk:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.container {
  width: 90%;
  max-width: 95%;
  margin: auto;
}

/* navbar */

.title {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.4rem;
}

a {
  text-decoration: none;
  color: #000;
  transition: 1s;
}

ul li.nav-links:hover,
ul li.nav-links :active {
  text-decoration: underline;
  font-weight: 500;
}

li {
  list-style-type: none;
  margin-right: 1.5rem;
  padding: 0.4rem;
}

nav,
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-icon {
  width: 50%;
  height: 50%;
  align-items: center;
}

/* nav-dropdown */

.dropdown-link {
  float: left;
  align-items: center;
  overflow: hidden;
}

#dropdown-icon {
  width: 10px;
  height: 10px;
}

.dropdown-link .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* hero section */

.blue-bg {
  background-color: #cde5f4;
}

.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1.5rem 0 1.5rem 0;
}

.hero-1 {
  padding: 3rem;
}

.hero-1-subtitle {
  font-size: 1.5rem;
}

.hero-1-heading {
  font-size: 6rem;
  font-family: "Julius Sans One", sans-serif;
}

.button {
  border: none;
  padding: 1rem;
  width: 120px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

.hero-2 {
  padding: 4rem;
  background-color: #e5f3fb;
}

.hero-img {
  left: 15%;
  position: relative;
}

.circle {
  width: 400px;
  height: 400px;
  top: 30%;
  left: 60%;
  position: absolute;
  background-color: #bcd7e8;
  border-radius: 50%;
}

/* main-container */
/* main-container-item-1 */

.main-container-item-1 {
  display: grid;
  gap: 2rem;
  text-align: center;
  margin: 2rem 0 2rem 0;
}

.main-container-item-heading {
  font-size: 4rem;
  padding: 2rem 0 0 0;
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
}

.product-price {
  margin: auto;
  width: 50%;
  line-height: 1.5rem;
  padding: 0 0 1rem 0;
}

.main-container-item-1 > .button {
  margin: auto;
}

/* main-container-item-2 */

.product-title {
  text-align: center;
  padding: 1.5rem 0 1.5rem 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 1rem;
  align-items: center;
}

.grid-item > img {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.grid-item > h3,
p {
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
}

/* main-container-item-3 */

.card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: 0.3s;
  border: 1px solid lightgrey;
  background-color: #fff;
}

.card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container {
  padding: 1rem;
  text-align: center;
}

.card > img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

/* main-container-item-4 */

.grid-container-item4 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.grid-item4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#row1-col1 {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 2;
}

#row2-col2 {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#row3-col3 {
  grid-column-start: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#row2-col4 {
  grid-column-start: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

#row1-col5 {
  grid-column-start: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

/* main-container-item-5 */

.main-container-item-5 {
  background-color: #f5d6d4;
  margin: 2rem 0 2rem 0;
}

.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
}

.slide-item1 img {
  width: 20%;
}

.slide-item2 > h3,
h1 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.6rem;
  font-weight: 100;
}

.slide-item2 > h1 {
  font-size: 2.6rem;
}

.slide-item2 > p {
  font-size: 1rem;
  width: 60%;
  margin: auto;
  font-weight: 700;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* footer */

footer {
  background-color: #090707;
  color: #fff;
  margin-top: 2rem;
  padding: 3rem;
  align-items: center;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: left;
}

.footer-links a {
  color: #fff;
}

ul li.footer-links :hover,
ul li.footer-links :active {
  text-decoration: underline;
  font-weight: 500;
}

footer #footer-links-container {
  display: grid;
  gap: 1rem;
  justify-content: center;
}

.footer-social-links {
  width: 30px;
  height: 30px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.footer-item4,
.footer-item5 {
  text-align: center;
  padding: 1rem 0 0 0;
}

input {
  border: none;
  border-bottom: 0.5px solid #a9a9a9;
  padding: 0.5rem;
  margin: 1rem 0 0 0;
  background: none;
  width: 80%;
}

/* media queries */

/* tablet screen */
@media (max-width: 800px) {
  .main-container-item-heading {
    font-size: 2rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* footer */

  .footer-container {
    display: block;
    text-align: center;
  }

  #footer-links-container {
    justify-content: center;
  }
}

/* mobile screen */
@media (max-width: 400px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-item5-social-links > ul {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}
